
//
// VARIABLES
//


// Colors

$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$blue: #4183C4;

$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;
$leaf: #66AB8C;

$grape: #624075;
$eggplant: #382C5F;
$grape-pink: #FDF4C8;

// Main theme colors
// Some cool main theme colors(violet:#8476ad;blue:#5cacee;red:#ff7373,#ff6f69;green:#6acf64,#2ddbb3;orange:#ffa268)

$mono-color: $lightGray;                // main theme color(header, links, footer icons, buttons, post-title)
$hl-color: $eggplant;                // header link color (author name and posted on date) for blog post meta
$navbar-hover-color: $eggplant;     // navbar hover color (site name and navbar links hover color)
$link-color: #CDA2BA;                 // normal hyperlink color other than the ones above.
$back-button-color: #D0C3D7;
$back-button-hover-color: $eggplant;
$post-a-color: $grape;
$header-color: $black;
// Heading colors
// You can play around with these too!
$h1-color: $black;
$h2-color: $black;
$h3-color: $eggplant;
$h4-color: $eggplant;

// Your avatar

$avatar: "images/avatar.jpg";


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$hankyoreh: "Hankyoreh_Font";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
