---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr/>
            <div class="content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>
{% if page.comments == true %}
  <div class="post-area">
    {% include disqus.html %}
</div>
{% endif %}
<script>
  var progressBar = document.getElementById("progressBar");
  window.addEventListener('scroll', function() {
    var totalHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var rate = window.scrollY / totalHeight;

    progressBar.setAttribute("value", rate * 100);
    if(rate == 0) {
      progressBar.classList.add("hide");
    } else {
      progressBar.classList.remove("hide");
    }
});
</script>
